@use "../../../Styles/colors" as *;
@use "../../../Styles/fonts" as *;
@use "../../../Styles/reuseable" as *;



.card{
    background: #fff;
    width: fit-content;
    padding: 1.5rem 1rem;
    border-radius: .5rem;
    border: 1px solid #e3e4e6;
    text-align: center;

    #planTtile{
        color: #64748b;
        font-size: .8rem;
        @include Poppins(500, normal);
    }

    .planInfo{
        margin-top: .8rem;
        @include Poppins(600, normal);
    }

    ul{
        margin-top: 1rem;
        @include flex(column, .8rem, flex-start);
        align-items: flex-start;
        li{
            @include Poppins(500, normal);
            text-align: left;
            list-style-type: none;
        }
    }

    button{
        margin-top: 1rem;
        padding: .7rem 1.5rem;
        color: $brandPrimary;
        @include Poppins(500, normal);
        background: transparent;
        border: 1px solid $brandPrimary;
        border-radius: .5rem;
    }
}



.popup-container {
    text-align: center;
    margin-top: 50px;
    .open-btn {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
    }
    
    .popup-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .popup-box {
      background: white;
      padding: 20px;
      border-radius: 8px;
      width: 400px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      @include flex(column, .5rem, center);
  
      h2{
          @include Poppins(500, normal);
      }
  
      .inputWrapper{
          @include flex(column, 0, flex-start);
          align-items: flex-start;
          @include Poppins(500, normal);
          width: 100%;
  
          input{
             padding: .7rem 1rem .5rem .4rem;
              width: 90%;
              @include Poppins(500, normal);
              border: 1px solid #64748b;
              border-radius: .2rem;
              outline: none;
          }
      }
      .close-btn {
        margin-top: 10px;
        padding: 1rem 2rem;
        background: red;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        @include Poppins(500, normal);
      }
    }
    
  }
  

  


.overviewWrapper{
    padding: 1rem;

    #pageId{
        @include Poppins(500, normal);
        font-size: 1.2rem;
    }

    .plansDiv{
        width: 100%;
        @include flex(row wrap, 1rem, center);
        margin-top: 1rem;
    }
    .marketingDiv{
        margin-top: 3rem;

        .marketingCard{
            background: #fff;
            width: fit-content;
            padding: 1.5rem 1rem;
           
            border-radius: .5rem;
            border: 1px solid #e3e4e6;

            #head{
                color: #64748b;
                font-size: .9rem;
                @include Poppins(500, normal);
            }
        
            .body{
                margin-top: .8rem;
                @include Poppins(500, normal);
            }

            .linkCon{
                @include flex(row, 1rem, flex-start);
                background: #fff;
                width: 90%;
                padding: .7rem;
                border-radius: .5rem;
                border: 1px solid #e3e4e6;

                h1{
                    font-size: .7rem;
                    @include Poppins(500, normal);
                }

                svg{
                    height: .8rem;
                }
            }


        }
    }
}

@media  (max-width: 768px){

    .card{
        width: 100%;
    }
    .earningsDiv{
        @include flex(column, 1rem, flex-start);
    }
}