// General Colors
$light: hsl(0, 0%, 98%);
$dark: #222831;
$gray: #E7E7E7;

// Brand Colors
$brandPrimary: #e23c4a;
$brandSecondary: #5b14de;
$brandPrimaryLight1: #e62636;
$brandSecondaryLight2:#094b889f;
$brandGreen: rgb(5, 102, 5);

//Button Colors


//Other Colors
